*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.available{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.header,
.title,
.availables,
.available,
#links,
#logo,
.footer,
.imagen,
.descripcion,
.links,
#separador{
/*      border: 1px solid black; */
}

.header,
.title,
#separador,
.availables,
.footer
{
   
    grid-column: 1/6;
}

.availables{
     grid-template-columns: 1fr;
}

/* FIN MAQUETADO CSS GRID */

/* INICIO ESTILOS VISUALES */

.title{
    display: flex;
    justify-content: center;
    margin: 60px 0;
}

#separador hr{
    width: 50%;
}

body{
    background-image: url("../img/gatosFondo.jpg");
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
}

.card-deck img{
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    border-radius: 3px;
    margin-top: 16px;
}

