*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagina{
    display: grid;
    grid-template-columns: 60% auto;
    grid-column: 1/6;
    background-image: url("../img/gatosFondo.jpg");
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}

.navbar{
    display: grid;
    grid-column: 1/6 ;
}


#contactos{
    grid-template-rows: repeat(5, 1fr);
    margin: auto 0;
}

.header,
.title,
.availables,
.available,
#links,
#logo,
.pagina,
#formulario,
#contactos,
.imagen,
.descripcion,
.links,
#separador,
#telefono2,
#email2,
#ubicacion,
#mapa{
  /*  border: 1px solid black;  */
}

.header,
.title,
#separador,
.footer
{   
    grid-column: 1/6;
}



/* FIN MAQUETADO CSS GRID */

.title{
    margin: 60px auto;
}

#separador{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

#separador hr{
    width: 50%;
}

#formulario{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(167, 165, 165);
    border-style: dashed;
    border-radius: 12px;
    margin: 10% 25%;
    padding-bottom: 5%;
}

form{
    float: left;
    width: 80%;
    height: 100%;
}

input, textarea, button{
    display: block;
    margin: auto;
    margin-top: 60px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid grey;
    outline: none;
    padding: 20px;
    background-color: white;
    resize:none;
}

button{
    cursor: pointer; 
}

button:active{
    background-color: rgb(209, 204, 204);
    color: black;
}

#telefono2, #email2{
    display: flex;
    justify-content: start;
    margin-bottom: 35px;
}

#contactos img{
    width: 80px;
    height: 80px;
    vertical-align: middle;
}

.datos{
    display: flex;
    flex-direction : column;
    justify-content: center;
    margin-left: 10px;
}

#mapa iframe{
    width: 50%;
    height: 300px;
    border-radius: 5%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
} 

iframe{
    width: 100%;
}



 .modificarNavbar span{
    color: black;
 }

 .modificarNavbar a{
    color: grey;
    text-decoration: none;
    border-bottom: 2px solid transparent;
 }

 .modificarNavbar a:hover{
    transition: 1s;
    border-color: grey;  
 }