$botonHembra-color: rgb(255, 192, 203);
$botonMacho-color: rgb(173, 216, 230);
$caracteristicas-color: rgb(211, 206, 206);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header,
.title,
#separador,
.footer {

    grid-column: 1/6;
}

body {
    background-image: url("../img/gatosFondo.jpg");
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;

    .modificarNavbar {
        img {
            vertical-align: text-bottom;
            float: left;
            height: 100px;
            width: 100%;
        }

        span {
            color: black;
            display: inline-block;
            margin-top: 4%;
            font-weight: bold;
            font-size: 18px;
        }

        a {
            color: grey;
            text-decoration: none;
            border-bottom: 2px solid transparent;
        }

        img {
            vertical-align: text-bottom;
            width: 100%;
        }

        a:hover {
            transition: 1s;
            border-color: grey;
        }

        .space {
            margin-right: 10px;
        }
    }

    .title {
        display: flex;
        justify-content: center;
        margin: 60px 0;
    }


    .disponibles {

        img {
            max-width: 300px;
            max-height: 300px;
            margin: auto;
            border-radius: 3px;
            margin-top: 16px;
        }

        h4 {
            text-align: center;
        }

        .disponible {
            margin-bottom: 30px;

            .botones {
                width: 100%;

                .botonHembra {
                    background-color: $botonHembra-color;
                    border: none;
                    color: white;
                }

                .botonMacho {
                    background-color: $botonMacho-color;
                    border: none;
                }
            }

            .lista {
                text-align: center;
            }

            
        ul {
            display: flex;
            justify-content: space-around;
            margin-top: 60px;
            list-style: none;
        }

        li {
            background-color: $caracteristicas-color;
            border-radius: 20px;
            padding: 5px 10px;
            margin-bottom: 5px;
        }

        }
    }

}

@media (width>575px) and (width<1100px) {
    
    .botones {
        display: flex;
        flex-direction: column;
    }

    .botones button {
        margin-bottom: 10px;
        width: 90%;
    }

    .disponibles ul {
        flex-direction: column;
    }

}