*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagina{
    background-image: url("../img/gatosFondo.jpg");
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
}

.title{
    
    display: flex;
    justify-content: center;

    h1{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 28px;    
    }

    span{
        display: block;
        font-size: 20px;
        color: grey;
    }
}

.carrusel{
    .modificarCardTitle {    
        font-size: 30px;
    }
    
    .modificarCardBody{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 220px;
    }
    
    .modificarBoton {
        color: #fff;
        margin-top: 20px;
    }
}



.modificarNavbar{

    img{
        vertical-align: text-bottom;
        width: 100%;
    }

    span{
        color: black;
    }

    .links a{
        color: grey;
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }

    .links a:hover{
        transition: 1s;
        border-color: grey;  
    }

    .space {
        margin-right: 10px;
    }
}