#redes{
    
    position: fixed;
    right: 0px;
    bottom: 0px;

    ul{
        list-style: none;
    }

    img{
        width: 60px;
        height: 60px;
    }
}

.footer{
    margin-top: 60px;
    border-top: 1px solid rgba(45,45,45,.1);
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    a{
        text-decoration: none;
        color: black;
    }
}

