* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pagina {
    background-image: url("../img/gatosFondo.jpg");
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
}

.header,
.title,
#separador,
.footer {
    grid-column: 1/6;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

form {
    margin: auto;
    margin-top: 60px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(167, 165, 165);
    border-style: dashed;
    border-radius: 12px;
    min-width: 400px;

    input[type=text], input[type=number], input[type=email], textarea, button {
        display: block;
        margin: auto;
        margin-top: 60px;
        border-radius: 20px;
        width: 100%;
        border: 1px solid grey;
        outline: none;
        padding: 20px;
        background-color: white;
        resize: none;
    }
    
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .modificarFile {
        margin: 60px auto;
        width: 80%;
    }

    .modificarFormGroup {
        display: flex;
        justify-content: center;
    }
}

.modificarNavbar{
    img {
        vertical-align: text-bottom;
        width: 100%;
    }

    span {
        color: black;
    }

    a {
        color: grey;
        text-decoration: none;
        border-bottom: 2px solid transparent;
    }

    a:hover {
        transition: 1s;
        border-color: grey;
    }

}

.space {
    margin-right: 10px;
}

@media (width < 1052px) {
    form {
    width: 400px;
    }
}